<!doctype html>
<html>

<head>
    <title>My Movies</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Movie List</a>
    </nav>
    <div class="container" id="main">
        <form>
            <div class="form-group">
                <label for="input-title-ch">Title in Chinese</label>
                <input type="text" name="chTitle" class="form-control" v-bind:class="{ 'is-invalid': chTitleError }" v-model="chTitle" placeholder="金牌特務">
                <div class="invalid-feedback">
                    {{ chTitleErrMsg }}
                </div>
            </div>
            <div class="form-group">
                <label for="input-title-eng">Title in English</label>
                <input type="text" name="enTitle" class="form-control" v-bind:class="{ 'is-invalid': enTitleError }" v-model="enTitle" placeholder="Kingsman">
                <div class="invalid-feedback">
                    {{ enTitleErrMsg }}
                </div>
            </div>
            <div class="form-group">
                <label for="input-intro">Intro</label>
                <textarea name="intro" class="form-control" rows="4" cols="50"
                    v-bind:class="{ 'is-invalid': introError }" 
                    v-model="intro" 
                    placeholder="e.g. Intro: This is ...">
                </textarea>
                <div class="invalid-feedback">
                    {{ introErrMsg }}
                </div>
            </div>
            <div id="button-insert" class="btn btn-primary">Insert</div>
        </form>
        <hr />
        <ul id="list-movie" class="list-group">
            <li class="list-group-item" v-for="item in dataList">
                <h3>{{item.ch_name}}</h3>
                <h4>{{item.eng_name}}</h4>
                <div class="movie-intro">{{item.intro}}</div>
            </li>
        </ul>
    </div>
</body>
<script src="lib/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</html>